[submodule "Layer_0/libft"]
	path = Layer_0/libft
	url = git@github.com:photocatalysta/42_0_libft.git
	branch = main
[submodule "Layer_1/ft_print"]
	path = Layer_1/ft_print
	url = git@github.com:photocatalysta/42_1_FT_Printf.git
	branch = main
[submodule "Layer_1/get_next_line"]
	path = Layer_1/get_next_line
	url = git@github.com:photocatalysta/42_1_Get_next_line.git
	branch = main
[submodule "Layer_2/push_swap"]
	path = Layer_2/push_swap
	url = git@github.com:photocatalysta/42_2_push_swap.git
	branch = main
[submodule "Layer_2/so_long"]
	path = Layer_2/so_long
	url = git@github.com:photocatalysta/42_2_so_long.git
	branch = main
[submodule "Layer_3/minishell"]
	path = Layer_3/minishell
	url = git@github.com:photocatalysta/42_3_minishell.git
	branch = main
[submodule "Piscine"]
	path = Piscine
	url = git@github.com:photocatalysta/42-Piscine.git
	branch = main
